header {
    background-color: #6B6868;
    height: 25%;
    padding-right: 50px;
    padding-left: 70px;
}
a {
    color: white;
    text-decoration: none;
}
/*Container*/
/*Nav*/
.containerp .nav-header {
    float: right;
}
/*Logo*/
.containerp .nav-header .logo {
    position: relative;
    left: -135%;
    top: 20px;
}
/*Botão 1*/
.containerp .nav-header .botao {
    max-width: 100%;   
    margin-top: -12%;
    text-decoration: none;
}
.containerp .nav-header .botao #home {
    text-decoration: none;
    color: white; 
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid lightsteelblue;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}
.containerp .nav-header .botao #artDic {
    color: white; 
    width: 190px;
    background-color: transparent;
    border: none; 
    font-size: 16px;
    font-weight: 600; 
    padding-left: 30px;
}
.containerp .nav-header .botao #inscricao {
    color: white; 
    width: 150px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
/*Container 1*/
.container1 {
    overflow: hidden;
}
/*Imagem Principal*/
.container1 .img-principal img {
    background-size: cover;  
    width: 100%;  
    margin-bottom: -82px;
}
/*Texto da imagem*/
.container1 .text {
    max-width: 60%;
    margin-top: -20%;
    padding-bottom: 1%;
    margin-left: 5%;
    color: white;
    opacity: 0.7;
    font-size: 48px;
}
.container{
    width: 80%;
    min-height: 2024px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2%;
}
/*=====Barra do lado dos titulos=====*/
.container .titulos-tema {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    margin-top: 25px;
    text-transform: uppercase;
}
/*Borda do lado dos titulos*/
.container .titulos-tema .color{
    height: 4.5px;
    flex-grow: 2;
    background-color: steelblue;
    margin-left: 5px;
}
/*===manipula a div: Moda===*/
/*Div moda*/
.container .div-moda{    
    margin: 20px 0px 30px 0px;
    background-color: #d6e3f4;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 22px;
}
/*Tamanho da div para imagem*/
.container .div-moda .img-moda{
    width: 50%;
}
/*Tamanho do elemento img*/
.container .div-moda .img-moda img{
    max-width: 100%;
    max-height: 100%;
}
/*Texto da div moda*/
.container .div-moda .txt-moda{
    width: 50%;
    padding: 0px 10px 0px 10px;
}
.container .div-moda .txt-moda h2{
    padding: 0px 0px 20px 0px;
}
/*=====Manipula a div: night=====*/
/*Faz as materias ficarem uma do lado da outra*/
.container .infos{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
/*Controla o tamanho e as margens das materias*/
.container .infos .dicas-fernando {
    width: 20%;
    flex-grow: 1;
    margin: 20px 15px -45px 15px;
}
/*Define o tamanho da div img e não deixa a imagem sair da div*/
.container .infos .dicas-fernando .imgs{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
/*Class para as imagens*/
.container .infos .dicas-fernando .imgs .imgs-inicio{
    width: 130%;
    height: 80%;
}
.container .infos .dicas-fernando .imgs #rio{
    width: 145%;
    height: 80%;
}
/*Estiliza o subtitulo dentro da imagem*/
.container .infos .dicas-fernando .imgs .subtitulo-txt{
    font-size: 25px;
    margin: 5px;
    position: relative;
    bottom: 115px;
    color: white;
    opacity: 0.7;
}
/*hover para o texto*/
.container .infos .dicas-fernando .imgs .subtitulo-txt:hover{
    transition-duration: 0.7s;
    opacity: 1;
    cursor: pointer;
}
/*Mostra o nome do autor da materia*/
.container .infos .autor{
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 10px;
}
/*=====Manipula as divs: viagens/restaurantes & hoteis=====*/
/*Coloca margem nas materias*/
.container .infos2 .dicas-fernando{

    flex-grow: 1;
    margin: 20px 0px 30px 20px;
}
.container .infos2 .dicas-fernando #div-viagens{
    height: auto;
    width: auto;
}
/*Manipula o tamanho da imagem e não a deixa sair da div*/
.container .infos2 .dicas-fernando .imgs{
    overflow: hidden;
    height:auto;
    width: auto;
}
/*Tamanho do elemento img*/
.container .infos2 .dicas-fernando .imgs img{
    max-width: 90%;
}
/*Subtitulos das materias pequenas*/
.container .infos2 .dicas-fernando .img .sub2{
    font-size: 10px;
}
/*Texto das materias pequenas*/
.container .infos2 .dicas-fernando .txt{
    margin-top: 5px;
    font-size: 14px;
    width: 70%;
}
/*Footer*/
footer {
    background-color: #6B6868;
    display: flex;
    height: 355px;
    align-items: center;
    padding: 0px;
    margin: 0px;
    color: white;
    margin-top: 5%;
}
/*Logo footer*/
.logof #logo {
    margin-left: -75vw;
    max-width: 230px;
}
/*Formulario*/
.form {
    flex-grow: 2;
    width: 50%;
    margin-left: 20%;
}
.form .formulario {
    text-align: center;
    margin-bottom: 5vh;
}
.form .formulario .formulario1 {
    align-items: center;
    justify-content: center;
}
/*Titulo*/
.form .formulario h2 {
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2vh;
    color: white;
}
.form .formulario p {
    color: rgb(169,187,209);
    font-size: 23px;
    margin-bottom: 2vh;
}
/*Icon*/
.geral-icon {
    margin-top: -0px;
    margin-right: 8%;
}
.geral-icon p {
    font-size: 20px;
}
.geral-icon .icons {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 130px;
}
/*Icon quadrados*/
.icon-logo{
    width: 100%;
    height: auto;
    padding-bottom: 30%;
}  
/*id email e botao*/
#email {
    width: 450px;
    height: 45px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 17px;
    padding-left: 155px;
    outline: none;
    border: 2px solid #d3d7db;
}
#botao {
    width: 450px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 17px;
    padding-left: 15px;
    outline: none;
    border: 0ch;
    color: white;
    background-color: lightsteelblue;
}