header {
    background-color: #6B6868;
    height: 22%;
    padding-right: 50px;
    padding-left: 70px;
}
/*Container*/
/*Nav*/
.containerp .nav-header {
    max-width: 90%;
    float: right;
    display: inline;
    bottom: 110px;
}
/*Logo*/
.containerp .nav-header .logo {
    display: block;
    position: relative;
    left: -140%;
    top: 35px;
}
/*Botão 1*/
.containerp .nav-header .botao {
    max-width: 100%;   
    margin-top: -9%;
}
.containerp .nav-header .botao #home {
    color: white; 
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid lightsteelblue;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}
.containerp .nav-header .botao #artDic {
    color: white; 
    width: 190px;
    background-color: transparent;
    border: none; 
    font-size: 16px;
    font-weight: 600; 
}
.containerp .nav-header .botao #inscricao {
    color: white; 
    width: 160px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
/*Container 1*/
.container1 {
    width: 100%;
    height: 100%;
    border: red solid 2px;
}
/*Imagem Principal*/
.container1 .img-principal img {
    max-width: 100%;
    max-height: 100%;
    border: blue solid 2px;
}
/*Texto da imagem*/
.container1 .img-principal .text {
    margin-top: -20vh;
    margin-left: 5vw;
    color: white;
    font-size: 36px;
    font-weight: 800;
}

/*Gabriel*/
.container{
    width: 80%;
    min-height: 2024px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
/*Titulos das areas*/
.container .titulos-tema {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    margin-top: 20px;
    text-transform: uppercase;
}
/*Borda do lado dos titulos*/
.container .titulos-tema .color{
    height: 4.5px;
    flex-grow: 2;
    background-color: steelblue;
    margin-left: 5px;
}
/*Faz as materias ficarem uma do lado da outra*/
.container .infos{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
/*Controla o tamanho e as margens das materias*/
.container .infos .dicas-fernando {
    width: 20%;
    flex-grow: 1;
    margin: 10px 15px 55px 15px;
}
/*Define o tamanho da div img e não deixa a imagem sair da div*/
.container .infos .dicas-fernando .imgs{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
/*Class para as imagens do primeiro tema*/
.container .infos .dicas-fernando .imgs .imgs-inicio{
    width: 130%;
    height: 80%;
}
/*Estiliza o subtitulo dentro da imagem*/
.container .infos .dicas-fernando .imgs .subtitulo-txt{
    font-size: 30px;
    margin: 5px;
    position: relative;
    bottom: 80px;
    color: white;
    opacity: 0.7;
}
/*Estiliza o subtitulo dentro da imagem*/
.container .infos .dicas-fernando .imgs .subtitulo-txt:hover{
    transition-duration: 0.7s;
    opacity: 1;
    cursor: pointer;
}
/*Texto das materias*/
.container .infos .dicas-fernando .txt{
    height: 18%;
    font-size: 18px;
    margin-top: -65px;
}
/*Mostra o nome do autor da materia*/
.container .infos .autor{
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 10px;
}
/*Div do meio*/
.container .div-meio{    
    margin-top: 15px;
    background-color: lightsteelblue;
    display: flex;
    align-items: center;
    text-align: center;
}
/*Tamanho da div para imagem no meio*/
.container .div-meio .img-meio{
    width: 50%;
}
/*Tamanho do elemento img*/
.container .div-meio .img-meio img{
    max-width: 100%;
    max-height: 100%;
}
/*Texto da div meio*/
.container .div-meio .txt-meio{
    width: 50%;
    padding: 0px 10px 0px 10px;
}
/*Coloca margem nas materias pequenas*/
.container .infos2 .dicas-fernando{
    flex-grow: 1;
    margin: 10px 10px 30px 20px;
}
.container .infos2 .dicas-fernando #div-viagens{
    height: auto;
    width: auto;
}
.container .infos2 .dicas-fernando #div-viagens img{
    max-height: 60%;
}
/*Manipula o tamanho da imagem e não a deixa sair da div*/
.container .infos2 .dicas-fernando .imgs{
    overflow: hidden;
    height:auto;
    width: auto;
}
/*Tamanho do elemento img*/
.container .infos2 .dicas-fernando .imgs img{
    max-width: 80%;
}
/*Subtitulos das materias pequenas*/
.container .infos2 .dicas-fernando .img .sub2{
    font-size: 10px;
}
/*Texto das materias pequenas*/
.container .infos2 .dicas-fernando .txt{
    margin-top: 5px;
    font-size: 14px;
    width: 70%;
}

/*Amandah*/
/*Footer*/
footer {
    background-color: #6B6868;
    display: flex;
    height: 355px;
    align-items: center;
    justify-content: center;    
    padding: 0px;
    margin: 0px;
    color: white;
}
/*Formulario*/
.formulario {
    text-align: center;
    margin-left: 30vw;
    margin-bottom: 5vh;
}
/*Logo footer*/
#imagem {
    align-items: center;
    justify-content: center;
    width: 100%; 
    margin-left: -820px;
    padding: 50px;
}
/*Titulo de contato*/
.formulario h1 {
    font-weight: 700;
    margin-top: 2rem;
    color: rgb(63,81,102);
}
.formulario p {
    width: 100%;
    color: rgb(169,187,209);
    font-size: 23px;
}
.formulario1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30vw;
}

/*Icon*/
#geral-icon {
    margin-top: -50px;
}
#icons {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 130px;
}
/*Icon quadrados*/
.icon{
    width: 100%;
    height: auto;
    padding-bottom: 30%;
}  
/**/


#email {
    width: 450px;
    height: 45px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 17px;
    padding-left: 155px;
    outline: none;
    border: 2px solid #d3d7db;
}
#botao {
    width: 450px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 17px;
    padding-left: 15px;
    outline: none;
    border: 0ch;
    color: white;
    background-color: lightsteelblue;
}


li {
    padding: 0%;
    margin-bottom: 5px;
}
ul.est {
    list-style-position: outside;
    text-align: start;
    margin-bottom: 5px;
}
a {
    color: white;
}

#perguntas {
    margin-top: -210px;
}
.footer p {
    font-size: 18px;
}
#parcerias {
    margin-top: 37px;
}
#estudante p, #parcerias p {
    margin-left: 20px;
}
/**/